@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
	font-family: 'Pathway Gothic One', sans-serif;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}

.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }


/* my customize */

tspan, text {
	stroke-width: 0;
	letter-spacing: 1.2px;
	fill: #5e5e5e;
    font-weight: 200;
    font-size: 18px;
}
.fixed-logo {
	font-size: 62px;
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 13;
	text-align: right;
    padding: 5px 30px;
}
.fixed-logo span {
	font-size: 21px;
    display: block;

}
.line {
	background-color: rgb(68, 68, 68);
	width: 300px;
	height: 2px;
	display: inline-block;
}

h3 {
	font-size: 30px;
	padding-bottom: 15px;
}
.catchy-ad {
	padding-top: 50px;
}
.catchy-ad p {
	color: #444;
}
.catchy-ad p:first-child {
	font-size: 40px;
}
.catchy-ad p:last-child {
	font-size: 50px;
}

.slide {
	padding-top: 50px;
}


/* WATT3 OFFER */


.list-of-plans {
  list-style: none;
}
.list-of-plans>li {
  display: inline-block;

  
}

.list-of-plans li span{
  width: 300px;
  display: inline-block;
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 24px;
  font-weight: 500;
}


.first-plan .content {
  background: #c0cf3a; 
}
.first-plan .title {
background: #E0E79D;
}
.second-plan  .content{
  background:#8ab833;
}
.second-plan  .title{
  background: #C5DC9A;
}
.third-plan  .content{
  background:#029676; 
}


.third-plan  .title{
  background:#81CBBB; 
}

.offer {
height: 440px;
width: 300px;
color: white;
font-weight: 500;
margin-right: 20px;
}

.offer ul {
  list-style-type: disc;
}
.title {
  height: 170px;
  padding: 20px 0;
}

.title span:first-child {
  text-transform: uppercase;
  font-size: 30px;
}
.title span:nth-child(2) {
  font-size: 50px;
}

.content {
  font-size: 18px;
  padding: 20px;
  height: 300px;
}

.features {
	margin-left: 21px;
}

.features li {
  line-height : 30px;
  font-size: 24px;
  text-align: left;
}

.description {
	font-size: 24px;
	text-align: left;
}


.note {
	text-align: left;
	font-size: 24px;
	margin-top: 40px;
}


/* GAUGE */

.list-of-gauge>div {
	display: inline-block;
	margin:0 auto;
}

.list-of-gauge tspan {
	font-size: 24px;
}

/* HALFPIE */


.list-of-halfpie>div {
	display: inline-block;
}

.big-number p:first-child {
	font-size:50px;
}

.big-number p:first-child>span {
font-size: 36px;
}
  
.big-number p:last-child {
	font-size:30px;
	text-transform: uppercase;
}

.big-number {
	    display: inline-block;
    padding: 27px;
    border: 5px solid;
    background: white;
}


/* SOFTWARE SOLUTION */

.image_slide >div {
	height:532px;
float:left;
}
.image_slide >div p{
	padding-top: 160px;
	width:309px;
}

.image_slide  .image-background{
	background-image: url("img/software_solution.png");
}

.technology_driven img{
	width: 532px;
}

.image_slide.technology_driven >div p{
	padding-top: 133px;
}

.roi {
	display: inline-block;
	padding: 42px 50px;
}

.roi .number {
	font-size: 72px;
	font-weight: 800;
	color: rgb(2, 150, 118);
	padding-top: 30px;
}
/*.roi p:last-child {
	padding-bottom: 30px;
}*/